* {
  margin: 0px;
  background-image: url(img/fondo.png); 
background-repeat:no-repeat;
background-size: cover;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  height: 100px;
  flex-direction: column;
  background-color: aliceblue;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

li {
  display: flex;
  padding: 10px;
  list-style: none;
  height: 60px;
  position: relative;
  top: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95eb77;
  height: 700px;
  justify-content: space-evenly;
  background-image: url(img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {

/*   background-color: #ff7474; */
background-image: url(img/fondo.png); 
background-repeat:no-repeat;
background-size: cover;
  height: 10px;
}

h1 {
  color: rgba(0, 0, 0, 0.671);
  /* verde medio para encabezados */
  font-size: 50px;
}

p {
  font-size: 20px;


}

a {
  color: black;
  /* azul claro para enlaces */
}

.button {
  background-color: #03A9F4;
  /* azul claro para botones */

}

button {
  border-radius: 20px;

}

body header h2 {
  color: gray;
}

div {
  padding: 10px;
  text-align: center;
  padding: 20px;

}

footer  {
  display: grid;
  grid-template-columns:1fr 1fr ;
  text-align: center;
  align-content: center;
  position: relative;
  top: 200px;
}




input {
  position: relative;
  top: 10px;
  left: 60px;
  border: none;
  border-radius: 7px;
  width: 350px;
  height: 30px;
}

input::placeholder {
  font-size: 15px;
  color: #2f2d2d;
  font-family: Arial, Helvetica, sans-serif;
}

.info {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info h3 {
  font-size: 40px;
}

.info p {
  font-size: 30px;
}

.text-label {
  position: relative;
  left: -40px;
}


label {
  color: #000;
  padding-top: 20px;
  font-size: 17px;
}

div h2 {
  color: #000;
}

section h2 {
  text-align: center;


}

section {
  display: flex;
  flex-direction: column 1fr 1fr;
  justify-content: center;

}
.pepe{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

body h2 {
  text-align: center;
  color: #000;
  font-size: x-large;
}
div h2{
  text-align: center;
}